# Exercícios para entregar

1. Selecione da tabela empolyees:
    1. Os sobrenomes distintos dos empregrados;
        
    1. Empregados que nasceram entre 1950 e 1958 (inclusos);
        
    1. Empregados que nasceram em 1963 e foram contratados em 1993;
    1. Todos os empregrados que reportam o chefe de id 5;
1. Selecione da tabela order_details:
    1. Produtos com 0.05 ou menos de desconto;
1. Selecione da tabels orders:
    1. Ordens enviadas em Setembro de 1996.
    1. Ordens que possuam o campo região preenchido.
1. Selecione da tabela suppliers:
    1. Todos os contatos que tenham a palavra manager no titulo.

1A  
SELECT DISTINCT last_name  
FROM employees;  

1B  
SELECT employee_id, last_name, first_name  
FROM employees  
WHERE birth_date BETWEEN'1950-01-01' AND '1958-12-31';  

1C  
SELECT employee_id, last_name, first_name  
FROM employees  
WHERE birth_date BETWEEN '1963-01-01' AND '1963-12-31'  
AND hire_date BETWEEN '1993-01-01' AND '1993-12-31';

1D  
SELECT employee_id, last_name, first_name    
FROM employees    
WHERE reports_to = 5;

2A  
SELECT product_id, discount    
FROM order_details  
--0,051 por causa do bug de não incluir 0,05  
WHERE discount <= 0.051;

3A  
SELECT order_id  
FROM orders  
WHERE shipped_date BETWEEN '1996-09-01' AND '1996-09-30';  

3B  
SELECT order_id  
FROM orders  
WHERE ship_region IS NOT NULL;

4A  
SELECT contact_name  
FROM suppliers  
WHERE contact_title LIKE '%Manager%';