# Exercícios para entregar

### 02_SQL_I_exercicios_GGB

1. Selecione da tabela employees (não esqueça de nomear as colunas criadas):
    1. A idade que os empregados tinham quando foram contratados em ordem crescente;
    1. Qual a pessoa mais jovem que foi contratada?
    
1. Selecione da tabela products:
    1. Os 5 produtos com maior valor agregado atualmente em estoque;
1. Selecione da tabels orders:
    1. O tempo (em dias) entre a compra e o envio;

1A  
SELECT last_name, first_name,  
round((hire_date - birth_date)/365.25,1) AS Idade_contratação  
FROM employees  
ORDER BY Idade_contratação ASC;  

1B  
--Leverlingm Janet. Aos 28,6 anos.

2A  
SELECT product_id, product_name, unit_price 
FROM products  
WHERE units_in_stock > 0  
ORDER BY unit_price DESC  
LIMIT 5;

3A  
SELECT   
(shipped_date - order_date) AS Tempo_compra_e_envio,  
order_date AS Dia_compra,  
shipped_date AS Dia_envio  
FROM orders;

-#--------------------------------------------------------------------------------------------------#-

Professor eu enviei um documento errado no primeiro exercício de SQL  

Título: Intro ao SQL  
    
Segue aqui o conteúdo correto para esse envio

### 01_introducao_primeiros_passos_exercicio_GGB

# Exercícios para entregar

1. Selecione da tabela empolyees:
    1. Os sobrenomes distintos dos empregrados;
        
    1. Empregados que nasceram entre 1950 e 1958 (inclusos);
        
    1. Empregados que nasceram em 1963 e foram contratados em 1993;
    1. Todos os empregrados que reportam o chefe de id 5;
1. Selecione da tabela order_details:
    1. Produtos com 0.05 ou menos de desconto;
1. Selecione da tabels orders:
    1. Ordens enviadas em Setembro de 1996.
    1. Ordens que possuam o campo região preenchido.
1. Selecione da tabela suppliers:
    1. Todos os contatos que tenham a palavra manager no titulo.

1A  
SELECT DISTINCT last_name  
FROM employees;  

1B
SELECT employee_id, last_name, first_name  
FROM employees  
WHERE birth_date BETWEEN'1950-01-01' AND '1958-12-31';  

1C  
SELECT employee_id, last_name, first_name  
FROM employees  
WHERE birth_date BETWEEN '1963-01-01' AND '1963-12-31'  
AND hire_date BETWEEN '1993-01-01' AND '1993-12-31';  

1D  
SELECT employee_id, last_name, first_name  
FROM employees  
WHERE reports_to = 5;  

2A  
SELECT product_id, discount  
FROM order_details  
--0,051 por causa do bug de não incluir 0,05  
WHERE discount <= 0.051;  
  
3A  
SELECT order_id  
FROM orders  
WHERE shipped_date BETWEEN '1996-09-01' AND '1996-09-30';  

3B  
SELECT order_id  
FROM orders  
WHERE ship_region IS NOT NULL;  

4A  
SELECT contact_name  
FROM suppliers  
WHERE contact_title LIKE '%Manager%';